<div class="col-xs-6 col-xs-offset-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Login</h3>
        </div>
        <div class="panel-body">
        
            <contact-login-alert></contact-login-alert>

            <form name="loginForm">
                <legend>Welcome</legend>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="text" class="form-control" placeholder="Email" name="email" ng-model="user.email">
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="text" class="form-control" placeholder="Password" name="email" ng-model="user.password">
                </div> 
                <ui-button level="{{level}}" icon="{{icon}}" ng-click="connect()">{{label}}</ui-button>
            </form>
        </div>
    </div>
</div>
